<%
const _index_json = require('./json/index.json')
const _header = _index_json.header
const _main = _index_json.main
%>

<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%= htmlWebpackPlugin.options.title %></title>
	<link rel="stylesheet" href="./css/main.css">
</head>
<body>
	<div class="wrap">
    <header class="header">
			<div class="header_wrap">
				<h2 class="title_sub"><%- _header.titleSub %></h2>
				<h1 class="title_main"><%- _header.titleMain %></h1>
				<p class="title_info"><%- _header.titleInfo %></p>
				<nav class="header_nav">
					<ul class="nav_list">
						<% _header.nav.forEach((_item, _index) => { %>
							<li <% if (_index === 0) { %>class="selected"<% } %>>
								<a href="#<%- _item %>"><%- _item %></a>
							</li>
						<% }) %>
					</ul>
				</nav>
			</div>
			<ul class="header_link">
				<li>
					<a href="https://github.com/pha1155" target="_blank">
						<span class="link_title">github</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-opacity="0.3" d="M24 3.99493C24 1.78579 22.2091 1.39547e-05 20 1.25666e-05L4 2.51333e-06C1.79086 1.12526e-06 -5.86648e-08 1.79086 -2.72707e-07 4C-7.89451e-07 9.33334 -1.07683e-06 14.6667 8.96796e-06 20C1.31286e-05 22.2091 1.79087 24 4.00001 24H9V21.0962C5.662 21.8405 4.967 19.6444 4.967 19.6444C4.421 18.2223 3.634 17.844 3.634 17.844C2.545 17.0801 3.717 17.0965 3.717 17.0965C4.922 17.1827 5.556 18.3648 5.556 18.3648C6.626 20.2452 8.363 19.7018 9.048 19.387C9.155 18.5924 9.466 18.049 9.81 17.7425C7.145 17.4298 4.343 16.3748 4.343 11.6615C4.343 10.3174 4.812 9.22035 5.579 8.35911C5.455 8.04845 5.044 6.79658 5.696 5.10282C5.696 5.10282 6.704 4.77268 8.997 6.36391C9.954 6.09119 10.98 5.95483 12 5.9497C13.02 5.95483 14.047 6.09119 15.006 6.36391C17.297 4.77268 18.303 5.10282 18.303 5.10282C18.956 6.79761 18.545 8.04948 18.421 8.35911C19.191 9.22035 19.656 10.3184 19.656 11.6615C19.656 16.3871 16.849 17.4277 14.177 17.7322C14.607 18.1136 15 18.8621 15 20.0104V24C15 24 17.5811 23.9925 20.0004 23.9861C22.2095 23.9803 24 22.1888 24 19.9797C24 14.9421 24 8.21486 24 3.99493Z" fill="white"/>
						</svg>
					</a>
				</li>
				<li>
					<a href="mailto:pha3113@naver.com" target="_blank">
						<span class="link_title">email</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M24 21.3333C24 22.8061 22.8061 24 21.3333 24H2.66667C1.19391 24 0 22.8061 0 21.3333V2.66667C0 1.19391 1.19391 0 2.66667 0H21.3333C22.8061 0 24 1.19391 24 2.66667V21.3333ZM4.66667 8.66667C4.66667 7.5621 5.5621 6.66667 6.66667 6.66667H17.3333C18.4379 6.66667 19.3333 7.5621 19.3333 8.66667V16C19.3333 17.1046 18.4379 18 17.3333 18H6.66667C5.5621 18 4.66667 17.1046 4.66667 16V8.66667ZM17.0655 8.00089C17.3595 7.77932 17.7775 7.83809 17.9991 8.13215C18.2036 8.40359 18.1693 8.78064 17.9315 9.01131L17.8678 9.06578L12.4012 13.1848C12.1874 13.3458 11.9009 13.3619 11.6726 13.2331L11.5988 13.1848L6.13215 9.06578C5.83809 8.84421 5.77932 8.42621 6.00089 8.13215C6.20541 7.86071 6.57731 7.78976 6.8646 7.95471L6.93452 8.00089L12 11.8173L17.0655 8.00089Z" fill="white"/>
						</svg>
					</a>
				</li>
				<li>
					<a href="tel:010-2642-7557" target="_blank">
						<span class="link_title">tel</span>
						<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M21.3333 24H2.66667C1.19391 24 0 22.8061 0 21.3333V2.66667C0 1.19391 1.19391 0 2.66667 0H21.3333C22.8061 0 24 1.19391 24 2.66667V21.3333C24 22.8061 22.8061 24 21.3333 24ZM9.84599 10.7685C9.75741 10.8657 9.73889 11.0074 9.79833 11.1247C10.5743 12.631 11.464 13.4618 12.8754 14.2017C12.9926 14.2611 13.1343 14.2426 13.2315 14.154L14.3161 13.2939C14.7361 12.9111 15.3575 12.8494 15.8446 13.142L18.0843 14.612C18.6323 14.9412 18.8553 15.6229 18.6079 16.2124L17.8959 17.9084C17.7112 18.3483 17.2985 18.6516 16.8231 18.6918C15.7164 18.7853 13.4987 18.5485 10.2653 16.2342C9.30095 15.544 8.45605 14.6991 7.76582 13.7347C5.4515 10.5013 5.2147 8.28356 5.30821 7.17688C5.34837 6.7015 5.65168 6.28876 6.0916 6.10408L7.78764 5.39209C8.37707 5.14467 9.05878 5.36771 9.38795 5.91569L10.858 8.15537C11.1506 8.64248 11.0889 9.26394 10.7061 9.68393L9.84599 10.7685Z" fill="white"/>
						</svg>							
					</a>
				</li>
			</ul>
		</header>
		<main class="main">
			<section id="about" class="about">
				<p class="about_info"><%- _main.about.info %></p>
				<ul class="about_list">
					<% _main.about.list.forEach((_item) => { %>
						<li><%- _item %></li>
					<% }) %>
			</section>
			<section id="experience" class="experience">
				<ul class="experience_list">
					<% _main.experience.list.forEach((_item) => { %>
						<li class="experience_item">
							<div class="experience_wrap">
								<span class="experience_period"><%- _item.period %></span>
								<h3 class="experience_company"><%- _item.company %></h3>
								<h4 class="experience_position"><%- _item.position %></h4>
							</div>
							<% if (_item.info !== '') { %>
								<p class="experience_info"><%- _item.info %></p>
							<% } %>
						</li>
					<% }) %>
				</ul>
			</section>
			<section id="portfolio" class="portfolio">
				<ul class="portfolio_list">
					<% _main.portfolio.list.forEach((_item, _index) => { %>
						<li class="portfolio_item<% if (_item.permission === true) { %> permission<% } %><% if (_item.closed === true) { %> closed<% } %>">
							<a class="portfolio_link" href="<%- _item.url %>" target="_blank">
								<span class="portfolio_number"><%- String(_index + 1).padStart(2, '0') %></span>
								<div class="portfolio_img">
									<img src="<%- _item.imgSrc %>" alt="<%- _item.imgAlt %>">
									<span class="img_text">
										<% if (_item.permission === true) { %>
											Need permission to see
										<% } else if (_item.closed === true) { %>
											Link expired due to renewal
										<% } else { %>
											Go to website
										<% } %>
									</span>
								</div>
								<div class="portfolio_info">
									<h3 class="portfolio_title"><%- _item.title %></h3>
									<span class="portfolio_period"><%- _item.period %></span>
									<ul class="portfolio_skill">
										<% _item.skill.forEach((_skill) => { %>
											<li><%- _skill %></li>
										<% }) %>
									</ul>
								</div>
							</a>
						</li>
					<% }) %>
				</ul>
			</section>
		</main>
  </div>
</body>
</html>